*.js
!*.ts
*.d.ts
*.js.map
*.utest.js

*.swp
**/test/out/

node_modules
node_modules/*
node_modules/
/_cache
/.artifacts
api/**/.leobuild.js
/dist
dist
views/*
*\build.js
dist/
package-lock.json
.vscode
/coverage
/.nyc_output
/mocha.json
.DS_Store
**/.DS_Store

*.sublime-workspace
*.code-workspace
.scannerwork
.idea
.idea/
docs/build/
/docs/build-docs.js
scripts/*
util-lambdas/*
