body {
	color: #333;
	background-color: #fbfbfb;
	padding-bottom: 40px;
}

.ml10 {
	margin-left: 10px;
}

.mr10 {
	margin-right: 10px;;
}

.p0 {
	padding: 0;
}

.mt0 {
	margin-top: 0;
}

.fg1 {
	flex-grow: 1;
}

.ht17 {
	height: 17px;
}

.mt-minus30 {
	margin-top: -30px !important;
}

.ws-nowrap {
	white-space: nowrap;
}

/** top header styles **/

.tsd-page-toolbar {
	position: unset;
	height: 94px;
	top: unset;
	left: unset;
	width: unset;
	background-color: unset;
}

#legend-countainer {
	display: none;
}

#legend-countainer.show {
	display: block;
}

.sitename {
    text-align: center;
	font-size: 30px;
}

#tsd-search .title {
	position: unset;
}

.toolbar-content {
	height: 94px;
}

.dflex {
	display: flex;
}

.align-c {
	align-items: center;
}

.flexcenter {
	justify-content: center;
}

.flexstart {
	align-self: flex-start;
}

.flexend {
	align-self: flex-end;
}

.container {
	margin: unset !important;
	max-width: unset !important;
}

.toolbarcontainer {
	margin-top: 2rem!important;
    margin-bottom: 1rem!important;
}

.header-color {
	color: #1b76ac !important;
}

#tsd-filter-inherited, #tsd-show-legend {
	display: none;
}

#tsd-search .field {
    position: unset;
    left: unset;
    top: unset;
    right: unset;
	width: unset;
}
#tsd-search .field input {
    box-sizing: border-box;
    position: unset;
    top: unset;
    z-index: 1;
    width: 100%;
    padding: 0 10px;
    opacity: unset;
    outline: 0;
    border: 0;
    background: unset;
    color: unset;
	height: 46px;
	width: 300px;
	border-radius: 0.25rem;
	background-clip: padding-box;
	color: #212529;
    background-color: #fff;
	display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
#tsd-search .field label {
    position: unset;
    overflow: hidden;
    right: unset;
}
#tsd-search .field input,
#tsd-search .title {
    transition: opacity 0.2s;
}
#tsd-search .results {
    position: absolute;
    visibility: hidden;
    top: 94px;
    width: unset;
	right: 0px;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
	z-index: 100;
}
#tsd-search .results li {
    padding: 0 10px;
    background-color: var(--color-background);
}
#tsd-search .results li:nth-child(even) {
    background-color: var(--color-panel);
}
#tsd-search .results li.state {
    display: none;
}
#tsd-search .results li.current,
#tsd-search .results li:hover {
    background-color: var(--color-panel-divider);
}
#tsd-search .results a {
    display: block;
}
#tsd-search .results a:before {
    top: 10px;
}
#tsd-search .results span.parent {
    color: var(--color-text-aside);
    font-weight: normal;
}
#tsd-search.has-focus {
    background-color: var(--color-panel-divider);
}
#tsd-search.has-focus .field input {
    top: 0;
    opacity: 1;
}
#tsd-search.has-focus .title {
    z-index: 0;
    opacity: 0;
}
#tsd-search.has-focus .results {
    visibility: visible;
}
#tsd-search.loading .results li.state.loading {
    display: block;
}
#tsd-search.failure .results li.state.failure {
    display: block;
}


/** main content styles **/

.container-main {
    border-radius: 12px!important;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: white;
    margin-left: 40px !important;
	margin-right: 40px !important;
}

.tsd-panel-group {
	padding-left: 0;
	padding-right: 0;
	margin-top: 0;
}

.tsd-panel-group > h2 {
	padding-left: 0;
	padding-right: 0;
	color: #aba9a9;
}

.tsd-panel {
	margin: 20px 0;
    padding: 20px;
    background-color: #fdfdfd;
    box-shadow: unset;
    border: 1px solid #ecebeb;
    border-radius: 4px;
}

.tsd-hierarchy h3 {
	font-size: 1em;
}

.tsd-index-group h2 {
	display: none;
}

.tsd-panel.tsd-comment {
	padding: 0 !important;
    border: 0 !important;
}

/* Footer */

.tsd-generator {
	display: none;
}

footer {
	display: none;
}