# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: NPM Publish Prod Package

on:
  release:
    types: [ created ]
    branches: [ master ]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm i aws-sdk@^2.581.0
      - run: npm run compile --if-present
      - run: npm run coverage-all
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - run: echo ${{github.ref}}
      - run: echo ${{steps.extract_branch.outputs.branch}}
      - run: echo prod release
      - if: "!contains(steps.extract_branch.outputs.branch, 'beta')"
        steps:
          - run: echo npm version minor
          - run: echo git push
          - run: echo npm publish
            env:
              NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - if: "contains(steps.extract_branch.outputs.branch, 'beta')"
        steps:
          - run: echo npm version prerelease --preid=beta
          - run: echo git push
          - run: echo npm publish --tag beta
            env:
              NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      #- run: npm publish
        #env:
          #NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
